<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Super Rentals Representatives would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Super Rentals HQ
    <p>
      33 Balmaringa Ave
      South Turramurra
      NSW 2074
    </p>
    <a href='tel: 1800333000'>1800 333 000</a><br>
    <a href='mailto:superrentals@x3555.dev'>superrentals@x3555.dev</a>
  </address>
  <LinkTo @route='about' class='button'>About Us</LinkTo>
</Jumbo>
